@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

$font-main: "Patrick Hand", cursive;
$colour-main: red;
$color-text: white;
$color-button: black;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
